body {
  font-family: 'Open Sans', sans-serif;

  text-align: center;
  margin-top: 64px;
}

#hero,
#footer {
  width: 626px;
  margin: 0 auto 64px;
}

#hero img {
  margin-bottom: 32px;
}

h1 {
  font-family: 'Dosis', sans-serif;
  font-size: 32px;
  line-height: auto;
  font-weight: medium;
  color: #3f3d56;

  margin-bottom: 16px;
}

h1 span {
  font-weight: bold;
  color: #ee24ff;
}

p,
p1 {
  color: #828282;
}

p1 {
  margin-top: 32px;
}

p strong,
a {
  color: #3f3d56;
  font-weight: bold;
}

#footer {
  margin-top: 64px;
  margin-bottom: 145px;
}

#footer a + a {
  margin-left: 42px;
}

.line {
  width: 391px;
  height: 0px;

  margin: 0 auto 16px;

  border: 1px solid #eceff2;
}

#decoration {
  position: fixed;
  bottom: 0px;
  right: 0px;
  left: 0px;
  width: 100%;
  height: auto;
}
